@tailwind base;
@tailwind components;
@tailwind utilities;

*:hover {
  transition: 0.3s all ease-in-out !important;
}

body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

/* .css-en-xlrwr4 {
  border-bottom: 1px solid black !important;
} */


.chakra-portal:has(.map-drawer) .chakra-modal__content-container {
  pointer-events: none;
}

/* Re-enable pointer events on the actual drawer panel */
.map-drawer {
  pointer-events: auto;
}